html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Highlight menu item when selected */
.ant-menu-dark .ant-menu-item-selected {
  background-color: #bd03ec !important;
  color: #fff !important;
}

/* On hover */
.ant-menu-dark .ant-menu-item:hover {
  background-color: #000000 !important;
  color: #fff !important;
}


/* ปรับพื้นหลังของ SubMenu */
.ant-menu-dark .ant-menu-sub {
  background-color: #141414 !important;
}

/* ปรับ hover ภายใน SubMenu */
.ant-menu-dark .ant-menu-sub .ant-menu-item:hover {
  background-color: #000000 !important;
  color: #fff !important;
}

/* ปรับ item ที่ถูกเลือกใน SubMenu */
.ant-menu-dark .ant-menu-sub .ant-menu-item-selected {
  background-color: #bd03ec !important;
  color: #fff !important;
}

.custom-hover-input:hover,
.custom-hover-input:focus-within,
.custom-hover-input input:focus {
  border-color: #bd03ec !important;
  box-shadow: 0 0 0 2px rgba(189, 3, 236, 0.3) !important;
  color: #bd03ec !important; 
}

.custom-purple-button {
  background-color: #bd03ec;
  border-color: #bd03ec;
  color: #fff;
}

.custom-purple-button:hover,
.custom-purple-button:focus {
  background-color: #a102c9 !important; /* สีเข้มขึ้นเล็กน้อย */
  border-color: #a102c9 !important;
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .form-container {
    padding: 16px !important;
    border-radius: 8px !important;
    box-shadow: none !important;
    margin: 12px !important;
  }

  .form-container h2 {
    font-size: 20px !important;
  }

  .ant-input,
  .ant-btn,
  select,
  textarea {
    font-size: 14px !important;
  }

  .custom-hover-input {
    font-size: 14px !important;
    padding: 6px !important;
  }
}
